<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">

	<head>
	
		<meta charset="UTF-8">
		<title>TRABAJO PRACTICO N°1 EDM</title>
		
	</head>
	
	<body>
	
		<h1>Menu de Opciones</h1>
		
		<h2>Seleccione el Ejercicio a Visualizar</h2>
	
	    <ul>
	        <li><a href="calculoPunto1?num1=4">Punto N° 1</a></li>
	        <li><a href="calculoPunto2?num1=3">Punto N° 2</a></li>
	        <li><a href="calculoPunto3?">Punto N° 3</a></li>
	        <li><a href="calculoPunto4?">Punto N° 4</a></li>
	        <li><a href="calculoPunto5?">Punto N° 5</a></li>
	        <li><a href="calculoPunto6?">Punto N° 6</a></li>
	        <li><a href="calculoPunto7?">Punto N° 7</a></li>
	        <li><a href="calculoPunto8?num1=4">Punto N° 8</a></li>
	        <li><a href="calculoPunto9?">Punto N° 9</a></li>
	        <li><a href="calculoPunto10?">Punto N° 10</a></li>
	        <li><a href="calculoPunto11?">Punto N° 11</a></li>
	        <li><a href="calculoPunto12?num1=6">Punto N° 12</a></li>
	    </ul>
	    
	</body>

</html>